/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
docs/_site
/.editor_settings
manifest.private.der
manifest.public.der
debug.keystore
debug.keystore.pass.txt
