/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
docs/_site
.editor_settings
debug.keystore
debug.keystore.pass.txt
manifest.private.der
manifest.public.der
